.color-picker {
  height: 100%;
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: space-evenly;
}

.color-button-active {
  margin: 10px;
  padding: 35px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #252A34;
  aspect-ratio: 1;
}

.color-button-inactive {
  margin: 10px;
  height: 50px;
  border-radius: 3px;
  border: 2px solid #252A34;
  aspect-ratio: 1;
}

.square {
  border: 0.5px solid #252A34;
  height: 100%;
  padding: 0;
  width: 100%;
}

.hint-row {
  border: 0.5px solid #252A34;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 100%;
  justify-content: space-evenly;
  padding: 0;
  text-align: center;
  width: 100%;
}

.hint-column {
  align-items: center;
  border: 0.5px solid #252A34;
  display: flex;
  height: 80%;
  justify-content: space-evenly;
  padding: 0;
  text-align: center;
  width: 100%;
}

.hints-row {
  border: 0.5px solid #252A34;
  display: flex;
  margin-bottom: -2px;
  width: 80%;
}

.hints-column {
  border: 0.5px solid #252A34;
  display: flex;
  flex-direction: column;
  margin-right: -2px;
  width: 20%;
}

.grid-segment-row {
  display: flex;
  height: 100%;
}

.grid-segment {
  border: 1px solid #252A34;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100;
}

.grid-row {
  display: flex;
  height: 100%;
}

.grid {
  border: 1px solid #252A34;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100;
}

.board-top {
  display: flex;
  justify-content: flex-end;
  height: 20%;
}

.board-bottom {
  display: flex;
  height: 80%;
}

.board {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1;
}

.undo {
  background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-undo-512.png");
  background-size: 100%;
  border-radius: 3px;
  border: 2px solid #252A34;
  margin: 10px;
  height: 50px;
  aspect-ratio: 1;
}

.buttons {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.game {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 999px) {
  .hint-row {
    font-size: 30px;
  }

  .hint-column {
    font-size: 30px;
  }

  .board {
    height: 90%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 546px) {
  .hint-row {
    font-size: 20px;
  }

  .hint-column {
    font-size: 20px;
  }

  .board {
    width: 90%;
  }
}

@media screen and (max-width: 545px) {
  .hint-row {
    font-size: 10px;
    font-weight: bold;
  }

  .hint-column {
    font-size: 10px;
    font-weight: bold;
  }

  .board {
    width: 100%;
  }
}

#root {
  height: 95%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: #EAEAEA;
  color: #252A34;
}
